extends layout/default

block scripts

append styles
  :stylus
    .square
      display inline-block
      width 100px
      height 100px
      color #FFF
      font-size 12px
      line-height 100px
      text-align center

append content
  .square.background-color-turquoise turquoise
  .square.background-color-green-sea green-sea
  .square.background-color-emerland emerland
  .square.background-color-nephrits nephrits
  .square.background-color-peter-river peter-river
  .square.background-color-belize-hole belize-hole
  .square.background-color-amethyst amethyst
  .square.background-color-wisteria wisteria
  .square.background-color-wet-asphalt wet-asphalt
  .square.background-color-midnight-blue midnight-blue
  .square.background-color-sun-flower sun-flower
  .square.background-color-orange orange
  .square.background-color-carrot carrot
  .square.background-color-pumpkin pumpkin
  .square.background-color-alizarin alizarin
  .square.background-color-pomegranate pomegranate
  .square.background-color-clouds clouds
  .square.background-color-silver silver
  .square.background-color-concrete concrete
  .square.background-color-asbestos asbestos
