@import 'var'

.color-turquoise
  color $turquoise

.color-green-sea
  color $green-sea

.color-emerland
  color $emerland

.color-nephrits
  color $nephrits

.color-peter-river
  color $peter-river

.color-belize-hole
  color $belize-hole

.color-amethyst
  color $amethyst

.color-wisteria
  color $wisteria

.color-wet-asphalt
  color $wet-asphalt

.color-midnight-blue
  color $midnight-blue

.color-sun-flower
  color $sun-flower

.color-orange
  color $orange

.color-carrot
  color $carrot

.color-pumpkin
  color $pumpkin

.color-alizarin
  color $alizarin

.color-pomegranate
  color $pomegranate

.color-clouds
  color $clouds

.color-silver
  color $silver

.color-concrete
  color $concrete

.color-asbestos
  color $asbestos

.background-color-turquoise
  background-color $turquoise

.background-color-green-sea
  background-color $green-sea

.background-color-emerland
  background-color $emerland

.background-color-nephrits
  background-color $nephrits

.background-color-peter-river
  background-color $peter-river

.background-color-belize-hole
  background-color $belize-hole

.background-color-amethyst
  background-color $amethyst

.background-color-wisteria
  background-color $wisteria

.background-color-wet-asphalt
  background-color $wet-asphalt

.background-color-midnight-blue
  background-color $midnight-blue

.background-color-sun-flower
  background-color $sun-flower

.background-color-orange
  background-color $orange

.background-color-carrot
  background-color $carrot

.background-color-pumpkin
  background-color $pumpkin

.background-color-alizarin
  background-color $alizarin

.background-color-pomegranate
  background-color $pomegranate

.background-color-clouds
  background-color $clouds

.background-color-silver
  background-color $silver

.background-color-concrete
  background-color $concrete

.background-color-asbestos
  background-color $asbestos
